header {
  text-align: left;
}

#input-task {
  padding: 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
  width: 20%;
}

#add-btn {
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #039be5;
  color: #fff;
  cursor: pointer;
}

li {
  margin: 10px;
  padding: 10px;
  border: 1px solid #dadada;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

#refresh-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}

#refresh-btn img {
  width: 20px;
  height: 20px;
}
